<%= link_to 'Edit', edit_admin_test_result_path(@test_result), class: 'pull-right btn btn-primary' %>

<h2>Report generated for <%= link_to @test_result.report.company.name, admin_company_path(@test_result.report.company) %></h2>

<hr/>

<p>Report: <%= link_to @test_result.report.started_at, [:admin, @test_result.report] %></p>
<p>Test: <%= link_to @test_result.test_case.title, [:admin, @test_result.test_case] %></p>
<p>Started At: <%= @test_result.started_at %></p>
<p>Ended At: <%= @test_result.ended_at %></p>
<p>Status: <%= @test_result.status %></p>
<p>Summary: <%= simple_format(urlify(@test_result.summary)) %></p>
<p>Created At: <%= @test_result.created_at %></p>
<p>Updated At: <%= @test_result.updated_at %></p>
