<%= form_for([:admin, @company], html: { class: 'form-horizontal form-standard', role: 'form' }) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
		<%= f.label :name, "Company Name", class: 'col-sm-3 control-label' %>
  	<div class="col-sm-9">
			<%= f.text_field :name, class: "form-control", placeholder: "Acme Company" %>
		</div>
	</div>
		
	<div class="form-group">
		<label class="col-sm-3 control-label">User(s)</label>
		<div class="col-sm-9">
		<% @company.users.each do |user| %>
			<%= f.fields_for :users do |u| %>
			<%= render partial: 'companies/user', locals: { user: user } %>
			<% end %>
		<% end %>
			<!-- TODO: Ability to add multiple users -->
			<!--<%= link_to "Add User", "javascript:void(0);", class: 'btn btn-primary pull-right', onclick: "$.get('/companies/new-user', function(data) { $(this).before(data); }); return false;" %>-->
		</div>
	</div>
  
  <div class="actions col-sm-offset-6">
  	<%= f.submit 'Save Company', class: "btn btn-lg btn-primary" %> or <%= link_to "Cancel", :back, class: "btn btn-danger" %>
  </div>
<% end %>
