<%= link_to 'Add New Company', new_admin_company_path, class: "btn btn-primary pull-right" %>
<h1>All Companies</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th># of Tests</th>
			<th># of Reports</th>
      <th>Current Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td><%= link_to company.name, [:admin, company] %></td>
      <td><%= company.test_cases.count %></td>
			<td><%= (company.test_cases.any?) ? company.reports.count : '--' %></td>
      <td><%= company.status %></td>
      <td><%= link_to 'Edit', edit_admin_company_path(company), class: 'btn btn-primary btn-xs' %></td>
    </tr>
    <% end %>
		<% if @companies.count < 1 %>
		<tr>
			<td colspan="6" style="text-align: center;">No companies yet. <%= link_to "Add one", new_admin_company_path %>.</td>
		</tr>
		<% end %>
  </tbody>
</table>
