<%= link_to 'Edit', edit_admin_company_path(@company), class: 'pull-right btn btn-primary' %>

<h2><%= @company.name %></h2>
<p>Customer since: <%= @company.created_at.in_time_zone('Central Time (US & Canada)') %></p>
<p>Chatroom: <%= link_to @company.chatroom, @company.chatroom %></p>

<hr/>

<% @company.test_suites.each do |suite| %>
<%= link_to "Add Test", new_admin_test_case_path(company: @company.id, suite: suite.id), class: 'btn btn-primary btn-sm pull-right' if suite.test_cases.any? %>
<h3><%= suite.title.present? ? suite.title : "Tests" %></h3>

<% if suite.test_cases.any? %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
			<th>Test</th>
			<th>Status</th>
			<th>Last Run</th>
    </tr>
  </thead>
  <tbody>
	<% suite.test_cases.order('created_at ASC').each do |test| %>
		<tr class="<%= (test.status == "Passed") ? "success" : ((test.status == "Failure") ? "danger" : "") %>">
			<td><%= test.title %></td>
			<td><%= link_to (test.status != 'Pending') ? test.status : "#{test.status}: #{test.pending_message}", admin_test_case_path(test) %></td>
			<td><%= (test.results.count > 0) ? test.results.order('started_at DESC').first.date : "--" %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% else %>
<p style="text-align: center; font-size: 14px;">No tests yet. <%= link_to "Add A New Test", new_admin_test_case_path(company: @company.id, suite: suite.id) %></p>
<% end %>

<hr/>

<% if suite.reports.any? %>
<%= link_to "Create New Report", new_admin_report_path(company: @company.id, suite: suite.id), class: 'btn btn-primary btn-sm pull-right' %>
<div class="btn-group pull-right">
  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
    Run Report <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
		<% suite.test_environments.each do |e| %>
			<% if Rails.env.production? %>
	   <li><%= link_to "#{e.name}", run_admin_reports_path(company: @company.id, suite: suite.id, environment: e.id) %></li>			
			<% else %>
    <li><%= link_to "#{e.name} (browserstack)", run_admin_reports_path(company: @company.id, suite: suite.id, environment: e.id) %></li>
    <li><%= link_to "#{e.name} (locally)", run_admin_reports_path(company: @company.id, suite: suite.id, environment: e.id, local: true) %></li>
			<% end %>
		<% end %>
  </ul>
	&nbsp;
</div>
<h3><%= suite.title.present? ? "#{suite.title} Reports" : "Reports" %></h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
			<th>Initiation</th>
			<th>Started</th>
			<th>Completed</th>
			<th>Monitored By</th>
			<th>Status</th>
			<th>Summary</th>
    </tr>
  </thead>
  <tbody>
	<% suite.reports.order('created_at DESC').each do |report| %>
		<tr class="<%= (report.status == "Completed") ? "success" : ((report.status == "Completed With Failures") ? "danger" : "") %>">
			<td>
				<%= report.initiated_at.strftime('%Y-%m-%d %T') %> by 
				<% if report.initiated_by.present? %>
					<%= report.initiator.name %>
				<% else %>
					Scheduler
				<% end %>
			</td>
			<td><%= report.started_at.strftime('%Y-%m-%d %T') if report.started_at.present? %></td>
			<td><%= report.completed_at.strftime('%Y-%m-%d %T') if report.completed_at.present? %></td>
			<td>
				<% if report.monitorer.present? %>
					<%= report.monitorer.name %>
				<% else %>
					--
				<% end %>
			</td>
			<td><%= link_to report.status, [:admin, report] %></td>
			<td><%= report.summary %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<hr/>
<% else %>
<p style="text-align: center; font-size: 14px;">
	No reports yet. <%= link_to "Create A New Report", new_admin_report_path(company: @company.id, suite: suite.id), class: 'btn btn-sm btn-primary' %> or 
	<% if suite.test_environments.count == 1 %>
	<%= link_to "Run Report", run_admin_reports_path(company: @company.id, suite: suite.id, environment: suite.test_environments.first.id), class: 'btn btn-sm btn-success' %>
	<% else %>
	<div class="btn-group">
	  <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
	    Run Report <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
			<% suite.test_environments.each do |e| %>
	    <li><%= link_to e.name, run_admin_reports_path(company: @company.id, suite: suite.id, environment: e.id) %></li>
			<% end %>
	  </ul>
		&nbsp;
	</div>
	<% end %>
</p>
<% end %>

<% end %>

<!-- TODO: Ability to add a new user to company -->
<!--<%= link_to "Add New User", "#", class: 'btn btn-primary btn-sm pull-right' %>-->
<h3>Users</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
			<th>Name</th>
      <th>Email</th>
      <!--<th></th>-->
    </tr>
  </thead>
  <tbody>
    <% @company.users.each do |user| %>
      <tr>
				<td><%= user.name %></td>
        <td><%= user.email %></td>
        <!--<td><%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
