<%= form_for(@test_result, html: { class: 'form-standard' }) do |f| %>
  <% if @test_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_result.errors.count, "error") %> prohibited this test_result from being saved:</h2>

      <ul>
      <% @test_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   
   <h3>Test Case Info</h3>
  
   <p><b>Title:</b> <%= @test_result.test_case.title %></p>

   <p><b>Description:</b> <%= @test_result.test_case.description %></p>
   
   <hr>
   
   <div><%= f.label :started_at %><br />
   <%= f.text_field :started_at, class: "form-control", placeholder: "YYYY-MM-DD HH:MM" %></div>
   
   <div><%= f.label :ended_at %><br />
   <%= f.text_field :ended_at, class: "form-control", placeholder: "YYYY-MM-DD HH:MM" %></div>
   
   <hr>
   
   <div><%= f.label :status %><br />
   <%= f.select :status, options_for_select(["Pending", "Running", "Pass", "Fail", "Skipped"]), class: "form-control" %></div>
   
   <div><%= f.label :summary %><br />
   <%= f.text_area :summary, class: "form-control" %></div>
   
   <br />

  <div class="actions">
    <%= f.submit 'Create Test Result', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
