<%= form_for(@test_result) do |f| %>
  <% if @test_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_result.errors.count, "error") %> prohibited this test_result from being saved:</h2>

      <ul>
      <% @test_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
   <div><%= f.label :report_id %><br />
   <%= f.text_field :report_id %></div>
   
   <div><%= f.label :test_case_id %><br />
   <%= f.text_field :test_case_id %></div>
   
   <div><%= f.label :started_at %><br />
   <%= f.text_field :started_at %></div>
   
   <div><%= f.label :ended_at %><br />
   <%= f.text_field :ended_at %></div>
   
   <div><%= f.label :status %><br />
   <%= f.text_field :status %></div>
   
   <div><%= f.label :summary %><br />
   <%= f.text_field :summary %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
