
<hr/>

<h3>Last 5 Reports</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Status</th>
    <th>Initiated By</th>
    <th>Initiated At</th>
    <th>Started At</th>
    <th>Time To Complete</th>
    <th></th>
  </tr>
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.status %></td>
      <td><%= report.initiator.name %></td> 
      <td><abbr title="<%= (report.initiated_at.present?) ? report.initiated_at.to_formatted_s(:long) : '--' %>"><%= time_ago_in_words(report.initiated_at) %> ago</abbr></td>
      <td><abbr title="<%= report.started_at.to_formatted_s(:long) if report.started_at.present? %>"><%= time_ago_in_words(report.started_at) + ' ago' if report.started_at.present? %> </abbr></td>
      <td><%= distance_of_time_in_words(report.completed_at, report.started_at) if report.completed_at.present? %></td>
      <td><%= link_to "View Report", report_path(report) %></td>
    </tr>
  <% end %>
</table>
<%= link_to "View All Your Reports", reports_path, class: 'btn btn-primary pull-right' %>
