<h2>User</h2><!--Remove Me-->

<div class="row">
  <span class="pull-right">
    <%= button_to 'Add A New Test', new_test_case_path, method: :get %>
  </span>
  <h3>Your Tests</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @user.company.test_suite.test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.title %></td>
        <td><%= test_case.status %></td>
        <td><%= link_to '(edit)', edit_test_case_path(test_case) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row">
  
  <%= render partial: "reports/report_start" %>

  <h3>Last 5 Reports</h3>
  <p><%= link_to "View All Reports", reports_path %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Initiated At</th>
      <th>Started At</th>
      <th>Completed At</th>
      <th></th>
    </tr>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.status %></td>
        <td><%= report.initiated_at %></td>
        <td><%= report.started_at %></td>
        <td><%= report.completed_at %></td>
        <td><%= link_to "View Report", report_path(report) %></td>
      </tr>
    <% end %>
  </table>
</div>
 