<% content_for :title do %>
Admin Dashboard
<% end %>

<% if @reports.any? %>
<div class="row">
  <h3>Pending Reports</h3>
  <p>Reports that are waiting to be run.</p>
  <table class="table table-bordered table-striped">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Initiated At</th>
      <th>Started At</th>
      <th>Completed At</th>
      <th></th>
    </tr>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.status %></td>
        <td><%= report.initiated_at %></td>
        <td><%= report.started_at %></td>
        <td><%= report.completed_at %></td>
        <td><%= button_to "Start Report", report_path(report), method: :get, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </table>
</div>

<hr/>
<% end %>
<% if @test_cases.any? %>
<div class="row">
  <h3>Tests Needing Setup</h3>
  <p>New test cases that still need to be setup. Client are waiting on these...</p>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.title %></td>
        <td><%= test_case.status %></td>
        <td><%= link_to 'Setup Test Case', test_case_path(test_case) %></td>
      </tr>
    <% end %>
  </table>
</div>
<% end %>
<% unless @test_cases.any? && @reports.any? %>
<div class="row" style="text-align: center;">
	<h3>All Done! Nothing Pending!</h3>
	<p>
		<img src="http://i.imgur.com/Jdvdr.gif"><br/>
		<img src="http://i.imgur.com/kQWV2.gif"><br/>
		<img src="http://cl.ly/image/1Q1z2Y302u3M/Image%202014.01.06%202%3A36%3A00%20PM.gif"><br/>
		<img src="http://i.imgur.com/wZuxj.gif"><br/>
	</p>
</div>
<% end %>
