<% content_for :title do %>
Dashboard
<% end %>

<% current_user.company.test_suites.each do |suite| %>

	<% if suite.reports.any? %>
	<div>
		<hr/>
		<% if ["Queued", "Running"].include? suite.reports.last.status %>
		<div class="alert alert-info">
			<p style="text-align: center;"><strong>Please note:</strong> We are currently running your tests. We will send you a report with the results as soon as they are done.</p>
		</div>
		<% else %>

			<% if Rails.env.production? || (suite.test_environments.size > 0) %>
			<div class="btn-group btn-block">
			  <button type="button" class="btn btn-lg btn-block btn-success dropdown-toggle" data-toggle="dropdown">
			    Run Your Tests <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
					<% suite.test_environments.each do |e| %>
						<% if Rails.env.production? %>
				   <li><%= link_to "#{e.name}", run_reports_path(company: current_user.company.id, suite: suite.id, environment: e.id) %></li>			
						<% else %>
			    <li><%= link_to "#{e.name} (saucelabs)", run_reports_path(company: current_user.company.id, suite: suite.id, environment: e.id) %></li>
			    <li><%= link_to "#{e.name} (locally)", run_reports_path(company: current_user.company.id, suite: suite.id, environment: e.id, local: true) %></li>
						<% end %>
					<% end %>
			  </ul>
			</div>
			<% else %>
			<%= link_to "Run Your Tests", run_reports_path(company: current_user.company.id, suite: suite.id, environment: suite.test_environments.first.id), class: 'btn btn-success btn-block btn-lg' %>
			<% end %>
			<p id="report-explanation" style="text-align: center; font-size: 12px; margin-top: 10px; margin-bottom: -10px;"><a href="#" data-title="What does 'Run Your Tests!' Mean?" data-trigger="hover" data-placement="bottom" data-content="Clicking this button will queue up your tests. We are immediately alerted and start running your tests to make sure everything on your site is running properly. As soon as we are done running your tests, we will notify you and send you a report with the results.">What does this mean?</a></p>
			<script>
				$(function() {
					$('#report-explanation a').popover();
				});
			</script>	
		<% end %>
	
		<hr/>
	</div>
	<% end %>
  <% if suite.test_cases.any? %>
	<div>
		<%= link_to "Watch Setup Video", suite.setup_video_url, target: '_blank', class: 'pull-right', style: 'margin-top: 26px;' if suite.setup_video_url.present? %>
		<h3>Your Tests</h3>
		<table class="table table-bordered table-striped">
		  <tr>
		    <th>Test Name</th>
		    <th>Current Status</th>
		    <th></th>
		  </tr>
		  <% suite.test_cases.order('created_at ASC').each do |test_case| %>
		    <tr class="<%= test_case.status == "Passed" ? "success" : test_case.status == "Failed" ? "danger" : "" %>">
		      <td><%= test_case.title %></td>
		      <td><%= test_case.status %></td>
		      <td><%= link_to 'View Test',test_case_path(test_case), class: 'btn btn-default' %></td>
		    </tr>
		  <% end %>
		 	<tr>
				<td colspan="3" style="text-align: center;">
					<%= button_to 'Add A New Test', new_test_case_path, method: :get, class: "btn btn-default" %>
				</td>
			</tr>
		</table>
  </div>
  
  <div>  
    <% if suite.reports.present? %>
      <%= render partial: "reports" %>
    <% else %>
      <%= render partial: "first_report", locals: { suite: suite } %>
    <% end  %>
  </div>
	<% end %>
<% end %>
<% unless current_user.company.test_cases.any? %>
  <div class="row">
    <%= render partial: "test_case_setup" %>
  </div>
<% end %>
