<% content_for :title do %>
Dashboard
<% end %>

<% if current_user.company.test_suite.test_cases.present? %>
  <div class="row">
   <%= render partial: "test_cases" %>
  </div>
  
  <div class="row">  
    <% if current_user.company.reports.present? %>
    <div class="pull-right">
      <%= render partial: "reports/report_start" %>
    </div>
      <%= render partial: "reports" %>
    <% else %>
      <%= render partial: "first_report" %>
    <% end  %>
  </div>
<% else %>
  <div class="row">
    <%= render partial: "test_case_setup" %>
  </div>
<% end %>
