<div class="row">
  <h1>To Do Items</h1>
</div>

<div class="row">
  <h3>Pending Test Cases</h3>
  <p>New test cases that still need to be setup. Client are waiting on these...</p>
</div>

<% if @test_cases.count == 0 %>
  <h5>Look at you hot shot, all the test cases have been setup.</h5>
<% else %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @test_cases.each do |test_case| %>
      <tr>
        <td><%= test_case.title %></td>
        <td><%= test_case.status %></td>
        <td><%= link_to 'Setup Test Case', test_case_path(test_case) %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<hr>

<div class="row">
  <h3>Pending Reports</h3>
  <p>Reports that are waiting to be run.</p>
</div>

<% if @reports.count == 0 %>
  <h5>Looks like there are no reports to run. Good work kiddo!</h5>
<% else %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Initiated At</th>
      <th>Started At</th>
      <th>Completed At</th>
      <th></th>
    </tr>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.status %></td>
        <td><%= report.initiated_at %></td>
        <td><%= report.started_at %></td>
        <td><%= report.completed_at %></td>
        <td><%= button_to "Start Report", report_path(report), method: :get, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </table>
<% end %>