<% content_for :title do %>
Manage Your Company
<% end %>

<h2>Manage Your Company</h2>

<%= form_for(@company, :html => { :method => :put, class: "form-horizontal form-standard", role: 'form' }) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited your company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
		<%= f.label :name, class: 'col-sm-3 control-label' %>
		<div class="col-sm-9">
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
	
	<div class="form-group">
		<%= f.label :chatroom_url, "Chatroom URL", class: 'col-sm-3 control-label' %>
		<div class="col-sm-9">
			<span class="help-block"><%= link_to @company.chatroom, @company.chatroom %></span>
		</div>
	</div>

	<div class="actions col-sm-offset-4">
		<%= f.submit 'Save Company', class: "btn btn-lg btn-primary" %> or <%= link_to "Cancel", dashboard_path, class: "btn btn-sm btn-danger" %>
	</div>
<% end %>
