<span class="pull-right"><%= button_to 'New Company', new_company_path, method: :get, class: "btn btn-primary" %></span>
<h1>All Companies</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th># of Tests</th>
      <th>Current Status</th>
      <th>Most Recent</th>
      <th>Initial Suite</th>
      <th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.test_cases.count %></td>
        <td>To Do</td>
        <td>To Do</td>
        <td>To Do</td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
