<p id="notice"><%= notice %></p>

<p>Company Name: <%= @company.name %></p>

<p>Test Suite ID#: <%= @company.test_suite.id %> <%= link_to "View Test Suite", test_suite_path(@company.test_suite) %></p>

<p>Company Users</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @company.users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Edit', edit_user_registration_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
