<%= link_to 'Edit', edit_company_path(@company), class: 'pull-right btn btn-primary' %>

<h2><%= @company.name %></h2>
<p style="font-size: 14px;">Customer since: <%= @company.created_at.in_time_zone('Central Time (US & Canada)') %></p>

<hr/>

<% if @company.test_cases.any? %>
<%= link_to "Run Report", new_report_path(@company), class: 'btn btn-primary btn-block' %>
<hr/>
<% end %>

<% @company.test_suites.each do |suite| %>
<%= link_to "Add Test", new_test_case_path(company: @company.id, test_suite: suite.id), class: 'btn btn-primary btn-sm pull-right' if suite.test_cases.any? %>
<h3><%= suite.title.present? ? suite.title : "Tests" %></h3>

<% if suite.test_cases.any? %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
			<th>Test</th>
			<th>Status</th>
    </tr>
  </thead>
  <tbody>
	<% suite.test_cases.each do |test| %>
		<tr>
			<td><%= test.title %></td>
			<td><%= link_to (test.status != 'Pending') ? test.status : "#{test.status}: #{test.pending_message}", test_case_path(test) %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% else %>
<p style="text-align: center; font-size: 14px;">No tests yet. <%= link_to "Add A New Test", new_test_case_path(company: @company.id, test_suite: suite.id) %></p>
<% end %>

<hr/>
<% end %>

<!-- TODO: Ability to add a new user to company -->
<!--<%= link_to "Add New User", "#", class: 'btn btn-primary btn-sm pull-right' %>-->
<h3>Users</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
			<th>Name</th>
      <th>Email</th>
      <!--<th></th>-->
    </tr>
  </thead>
  <tbody>
    <% @company.users.each do |user| %>
      <tr>
				<td><%= user.name %></td>
        <td><%= user.email %></td>
        <!--<td><%= link_to 'Edit', edit_user_path(user) %> <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
