<div class="pull-right">
  <%= button_to "Create a Report", new_admin_report_path, method: :get, class: "btn btn-primary" %>
</div>

<h1>All Reports</h1>

<div class="pagination-container">
<%= will_paginate @reports, :previous_label => "&laquo;", :next_label => "&raquo;", renderer: BootstrapPagination::Rails %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Company</th>
      <th>Status</th>
      <th># of Tests</th>
      <th>Initiated</th>
      <th>Started</th>
      <th>Completed In</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.order('created_at DESC').each do |report| %>
      <tr>
        <td><%= link_to report.id, [:admin, report] %></td>
        <td><%= link_to report.company.name, [:admin, report.company] %></td>
        <td><%= report.status %></td>
        <td><%= link_to report.test_cases.count, [:admin, report] %></td>
        <td><%= raw("<abbr title=\"#{report.initiated_at.strftime('%D %T')}\">#{time_ago_in_words(report.initiated_at)} ago</abbr>") if report.initiated_at.present? %></td>
        <td><%= raw("<abbr title=\"#{report.started_at.strftime('%D %T')}\">#{distance_of_time_in_words(report.initiated_at, report.started_at)} later</abbr>") if report.started_at.present? %></td>
				<% if report.completed_at.present? %>
				<td><abbr title="<%= report.completed_at.strftime('%D %T') %>"><%= (report.completed_at - report.started_at).round(2) %> seconds</abbr></td>
				<% else %>
				<td>--</td>
				<% end %>
        <td>
					<%= button_to "View Report", admin_report_path(report), method: :get, class: "btn btn-success" %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-container">
<%= will_paginate @reports, :previous_label => "&laquo;", :next_label => "&raquo;", renderer: BootstrapPagination::Rails %>
</div>
