<%= link_to 'Edit', edit_admin_report_path(@report), class: 'pull-right btn btn-primary' %>

<h2>Report generated for <%= link_to @report.company.name, admin_company_path(@report.company) %></h2>

<hr/>

<p><b>Current Status:</b> <%= @report.status %></p>

<p>Initiated At: <%= @report.initiated_at %></p>

<p>Initiated By: <%= @report.initiator.name %></p>

<p>Started At: <%= @report.started_at %></p>

<p>Completed At: <%= @report.completed_at %></p>

<p>Monitored By: <%= @report.monitorer.name if @report.monitorer.present? %></p>

<p>Test Summary: <%= @report.summary %></p>

<%= render partial: "admin_run_report" if current_user.is_admin? %>

<hr>

<h3>Test Results</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Test Case Id</th>
    <th>Test Case Title</th>
    <th>Test Results</th>
  </tr>

 <% @results.order('id ASC').each do |result| %>
   <tr>
     <td><%= result.id %></td>
     <td><%= result.test_case.title %></td>
     <td><%= result.status %></td>
   </tr>
   <tr>
     <td colspan="3">Results Summary: 
     <% if result.summary.present? %>
       <%= result.summary %>
     <% else %>
       <i>No notes given.</i>
     <% end%>
     </td>
   </tr>
   <% if current_user.is_admin? && @report.status == "Running" %>
   <tr>
     <td colspan="3"><%= button_to 'Record Test Result', edit_test_result_path(result), method: :get, class: 'btn btn-success' %></td>
   </tr>
   <% end %>
 <% end %>
</table>  

<%= render partial: "complete_report" %>
