<%= link_to 'Edit', edit_admin_report_path(@report), class: 'pull-right btn btn-primary' %>

<h2>Report generated for <%= link_to @report.company.name, admin_company_path(@report.company) %></h2>

<hr/>

<p><b>Current Status:</b> <%= @report.status %></p>

<p>Initiated At: <%= @report.initiated_at %></p>

<p>Initiated By: <%= @report.initiator.name %></p>

<% if @report.started_at.present? %>
<p>Started At: <%= @report.started_at %></p>

<p>Completed At: <%= @report.completed_at %></p>

<p>Monitored By: <%= @report.monitorer.name if @report.monitorer.present? %></p>

	<% if @report.errors_raw.present? %>
	<p>Raw Output:</p>
	<blockquote><pre><%= @report.errors_raw.gsub('\n', "\n") %></pre></blockquote>
	<% end %>
	<% if @report.summary.present? %>
	<p>Test Summary: <%= htmlify(@report.summary) %></p>
	<% end %>
	
<% end %>

<%= render partial: "admin_run_report" if @report.status.downcase == 'queued' %>

<hr>

<h3>Test Results</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Test</th>
    <th>Results</th>
  </tr>
	<% @results.order('id ASC').each do |result| %>
  <tr class="<%= result.status == "Passed" ? "success" : result.status == "Failed" ? "danger" : "" %>">
    <td><%= result.id %></td>
    <td><%= result.test_case.title %></td>
  	<td><%= link_to result.status, [:admin, result] %></td>
  </tr>
	<% if result.status != 'Pending' %>
  <tr>
  	<td colspan="3">
			Results Summary: 
  		<% if result.summary.present? %>
	  	<%= htmlify(result.summary) %>
     	<% else %>
      <i>No notes given.</i>
     	<% end %>
     </td>
  </tr>
	<% end %>
  <% if ["Queued"].include? result.status %>
	<tr>
  	<td colspan="3"><%= button_to 'Start Test', edit_admin_test_result_path(result), method: :get, class: 'btn btn-success' %></td>
  </tr>
	<% elsif ["Running"].include? result.status %>
	<tr>
  	<td colspan="3"><%= button_to 'Record Test Result', edit_admin_test_result_path(result), method: :get, class: 'btn btn-success' %></td>
  </tr>
	<% end %>
<% end %>
</table>  

<%= render partial: "complete_report" if @report.status == "Running" %>
