<%= form_for(@test_suite) do |f| %>
  <% if @test_suite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_suite.errors.count, "error") %> prohibited this test_suite from being saved:</h2>

      <ul>
      <% @test_suite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div><%= f.label :company_id %><br />
   <%= f.text_field :company_id %></div>

  <div><%= f.label :title %><br />
   <%= f.text_field :title %></div>
   
   <div><%= f.label :description %><br />
    <%= f.text_field :description %></div>
    
    <div><%= f.label :setup_video_url %><br />
     <%= f.text_field :setup_video_url %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
