<%= form_for(@test_case, html: { class: 'form-horizontal form-standard', role: 'form' }) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.hidden_field :company_id %>
  
	<% if current_user.company.test_suites.count > 1 %>
  <div class="form-group">
		<div class="col-sm-12">
			<%= f.label :test_suite_id, "Test Suite", class: 'control-label' %>
    	<%= f.select :test_suite_id, @test_case.company.test_suites.collect {|t_s| [ (t_s.title.present? ? t_s.title : "Tests"), t_s.id ] }, { include_blank: true }, { class: 'form-control' } %>
		</div>
	</div>
	<% else %>
		<%= f.hidden_field :test_suite_id %>
	<% end %>

  <div class="form-group">
		<div class="col-sm-12">
			<%= f.label :title, "What would you like us to test?", class: 'control-label' %>
			<%= f.text_field :title, class: "form-control", placeholder: "Test a user can signup." %>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-12">
			<%= f.label :url, "Test URL", class: 'control-label' %>
			<%= f.text_field :url, class: "form-control", placeholder: "http://example.com/path/37" %>
			<span class="help-block">Provide us with the exact url to start running your test at.</span>
		</div>
	</div>

  <div class="form-group">
		<div class="col-sm-12">
			<%= f.label :description, "Any Additional Instructions?", class: 'control-label' %>
			<%= f.text_area :description, class: "form-control", placeholder: "ie. This can only be done on staging." %>
	    <span class="help-block">Provide any additional info on how to complete task.</span>
		</div>
	</div>
	
	<%= render partial: 'test_environments_container', locals: { test_case: @test_case } %>
		
  <% if current_user.is_admin? %>
  <hr/>
  <span class="help-block">Admin Only Fields</span>
  
	<div class="form-group">
		<%= f.label :setup_started_at, class: 'col-sm-3 control-label' %>
		<div class="col-sm-9">
			<% unless @test_case.setup_started_at.present? %>
			<button type="button" class="btn btn-default pull-right" onclick="$(this).parent().find('input:first').val(formatTime(new Date()));">Now</button>
			<% end %>
			<%= f.text_field :setup_started_at, class: "form-control datetimepicker", style: 'width: 360px', data: { format: "YYYY-MM-DD HH:mm:ss"}, placeholder: "YYYY-MM-DD HH:MM" %>
		</div>
	</div>
	
  <div class="form-group">
		<%= f.label :setup_completed_at, class: 'col-sm-3 control-label' %>
		<div class="col-sm-9">
			<% unless @test_case.setup_completed_at.present? %>
			<button type="button" class="btn btn-default pull-right" onclick="$(this).parent().find('input:first').val(formatTime(new Date()));">Now</button>
			<% end %>
			<%= f.text_field :setup_completed_at, class: "form-control datetimepicker", style: 'width: 360px;', data: { format: "YYYY-MM-DD HH:mm:ss"}, placeholder: "YYYY-MM-DD HH:MM" %>
		</div>
	</div>
	
  <div class="form-group">
		<%= f.label :pending_message, class: 'col-sm-3 control-label' %>
		<div class="col-sm-9">
		  <%= f.text_area :pending_message, class: "form-control", placeholder: "Test not setup, What seems to be the holdup?" %>
		</div>
	</div>
	<% end %>

	<div class="actions col-sm-offset-4">
		<%= f.submit 'Save Test', class: "btn btn-lg btn-primary" %> or <%= link_to "Cancel", :back, class: "btn btn-danger" %>
	</div>
  <% end %>

	<%= render partial: 'test_environments_modal' %>

