<% current_user.company.test_suites.each do |suite| %>
	<div class="row">
		<%= link_to "Watch Setup Video", suite.setup_video_url, target: '_blank', class: 'pull-right', style: 'margin-top: 26px;' if suite.setup_video_url.present? %>
		<h3>Your Tests</h3>
		<table class="table table-bordered table-striped">
		  <tr>
		    <th>Test Name</th>
		    <th>Current Status</th>
		    <th></th>
		  </tr>
		  <% suite.test_cases.order('created_at ASC').each do |test_case| %>
		    <tr class="<%= test_case.status == "Passed" ? "success" : test_case.status == "Failed" ? "danger" : "" %>">
		      <td><%= test_case.title %></td>
		      <td><%= test_case.status %></td>
		      <td><%= link_to 'View Test',test_case_path(test_case) %></td>
		    </tr>
		  <% end %>
		 	<tr>
				<td colspan="3" style="text-align: center;">
					<%= button_to 'Add A New Test', new_test_case_path, method: :get, class: "btn btn-default" %>
				</td>
			</tr>
		</table>
  </div>
<% end %>