<% content_for :title do %>
<%= @test_case.title %>
<% end %>

<%= link_to 'Edit', edit_test_case_path(@test_case), class: 'pull-right btn btn-primary' %>

<h2><%= @test_case.title %></h2>

<hr/>

<p><b>Current Status:</b> <%= @test_case.status %></p>

<% if @test_case.description.present? %>
<p><b>Description:</b> <%= htmlify(@test_case.description) %></p>
<% end %>

<% if @test_case.setup_started_at.present? %>
<p><b>Setup Started At:</b> <%= @test_case.setup_started_at %></p>

<p><b>Setup Completed At:</b> <%= @test_case.setup_completed_at||'--' %></p>

<% if @test_case.pending_message.present? %>
<p><b>Pending Message:</b> <%= @test_case.pending_message %></p>
<% end %>

<% end %>

<hr/>

<h3>Previous Test Results</h3>

<% if @test_case.results.count > 0 %>
<table class="table table-bordered table-striped">
  <tr>
    <th>Status</th>
    <th>Report</th>
    <th>Started At</th>
    <th>Ended At</th>
    <th>Summary</th>
  </tr>
  <% @test_case.results.order('started_at DESC').each do |results| %>
  <tr class="<%= results.status == "Passed" ? "success" : results.status == "Failed" ? "danger" : "" %>">
    <td><%= results.status %></td>
    <td><%= link_to results.report.date, report_path(results.report) %></td>
    <td><%= results.started_at %></td>
    <td><%= results.ended_at %></td>
    <td><%= results.summary %></td>
  </tr>
  <% end %>
</table>
<% elsif ['Awaiting Setup', 'Being Setup'].include? @test_case.status %>
<p>We are still in the process of getting your test setup. We should have it done soon and we will run your first report and report back to you.</p>
<% else %>
<p>We have not run any reports for you yet. This could be because we are in the process of running it now. Check back in a few.</p>
<% end %>
