<%= form_for(@report, html: { class: 'form-standard' }) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  
    <div><%= f.label :company_id %><br />
    <%= f.select :company_id, Company.all.collect {|c| [ c.name, c.id ] }, include_blank: true %></div>
    
    <div><%= f.label :test_suite_id %><br />
    <%= f.select :test_suite_id, TestSuite.all.collect {|t_s| [ t_s.id ] }, include_blank: true %></div>
    
    <div><%= f.label :initiated_at %><br />
    <%= f.text_field :initiated_at, class: "form-control", placeholder: "YYYY-MM-DD HH:MM" %></div>
    
    <div><%= f.label :initiated_by %><br />
    <%= f.text_field :initiated_by, class: "form-control" %></div>
    
    <div><%= f.label :started_at %><br />
    <%= f.text_field :started_at, class: "form-control", placeholder: "YYYY-MM-DD HH:MM" %></div>
    
    <div><%= f.label :completed_at %><br />
    <%= f.text_field :completed_at, class: "form-control", placeholder: "YYYY-MM-DD HH:MM" %></div>
    
    <div><%= f.label :monitored_by %><br />
    <%= f.select :monitored_by,  options_for_select(['Mark Bertrand', 'Zack Gilbert']), include_blank: true, class: "form-control" %></div>
    
    <div><%= f.label :status %><br />
    <%= f.select :status, options_for_select(['Queued', 'Running', 'Completed With Failures', 'Completed']), include_blank: true %></div>
      
    <div><%= f.label :summary %><br />
    <%= f.text_area :summary, class: "form-control" %></div>
      
    <br />
    
    <div class="actions">
      <%= f.submit 'Create Report', class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>
