<% if @report.status == "Queued" %>
  <div>
    <hr>
    <h3>Ready to run this report?</h3>
    <p>Hit the button below to mark this report as running.</p>
    <%= form_for(@report) do |f| %>
      <% if @report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

          <ul>
          <% @report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= f.hidden_field :status, value: "Running" %>
        <%= f.hidden_field :started_at, value: DateTime.now %>
        <%= f.hidden_field :monitored_by, value: current_user.id %>
    
        <%= f.submit 'Run This Report', class: "btn btn-lg btn-success" %>
      </div>
    <% end %>
  </div>
<% end %>