<div class="pull-right">
  <%= render partial: "report_start" %>
</div>

<h1>All Reports</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Report ID</th>
      <th>Company</th>
      <th>Status</th>
      <th># of Test Cases</th>
      <th>Initiated At</th>
      <th>Started At</th>
      <th>Completed At</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<%= will_paginate @reports %>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.company.name %></td>
        <td><%= report.status %></td>
        <td><%= report.test_cases.count %></td>
        <td><%= report.initiated_at %></td>
        <td><%= report.started_at %></td>
        <td><%= report.completed_at %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @reports %>
