
<div class="pull-right">
  <%= render partial: "report_start", locals: { suite: current_user.company.test_suites.first } %>
</div>

<h1>All <%= current_user.company.name %> Reports</h1>

<div class="pagination-container">
<%= will_paginate @reports, :previous_label => "&laquo;", :next_label => "&raquo;", renderer: BootstrapPagination::Rails %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th># of Tests</th>
      <th>Initiated</th>
      <th>Started</th>
      <th>Completed</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr class="<%= report.status == "Completed" ? "success" : report.status == "Completed With Failures" ? "danger" : "" %>">
        <td><%= report.status %></td>
        <td><%= link_to report.test_cases.count, report %></td>
        <td><%= report.initiated_at %></td>
        <td><%= report.started_at %></td>
        <td><%= report.completed_at %></td>
        <td>
					<%= button_to "View Report", report_path(report), method: :get, class: "btn btn-success" %>
				</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-container">
<%= will_paginate @reports, :previous_label => "&laquo;", :next_label => "&raquo;", renderer: BootstrapPagination::Rails %>
</div>
