<p id="notice"><%= notice %></p>

 <h3>Reported generated for <%= @report.company.name %>.</h3>

 <p>Test Id: <%= @report.test_suite_id %></p>
 
 <p>Initiated By: <%= @report.initiated_at %></p>
 
 <p>Initiated By: <%= @report.initiated_by %></p>
 
 <p>Started At: <%= @report.started_at %></p>
 
 <p>Completed At: <%= @report.completed_at %></p>
 
 <p>Monitored By: <%= @report.monitored_by %></p>
 
 <p>Status: <%= @report.status %></p>
 
 <p>Summary: <%= @report.summary %></p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
