<p id="notice"><%= notice %></p>

 <h3>Reported generated for <%= @report.company.name %>.</h3>
 
 <p>
  <%= link_to 'Back', reports_path %>
    <% if current_user.is_admin? %>
    | <%= link_to 'Edit Report', edit_report_path(@report) %> 
    <% end %>
 </p>

 <p>Test Suite Id: <%= @report.test_suite_id %></p>
 
 <p>Initiated At: <%= @report.initiated_at %></p>
 
 <p>Initiated By: <%= @report.initiated_by %></p>
 
 <p>Started At: <%= @report.started_at %></p>
 
 <p>Completed At: <%= @report.completed_at %></p>
 
 <p>Monitored By: <%= @report.monitored_by %></p>
 
 <p>Current Status: <%= @report.status %></p>
 
 <p>Test Summary: <%= @report.summary %></p>

<table class="table table-bordered tabel-striped">
  <tr>
    <th>Test Case Id</th>
    <th>Test Case Title</th>
    <th>Test Results ID</th>
  </tr>
 
 <% @results.each do |results| %>
   <tr>
     <td><%= results.id %></td>
     <td><%= results.test_case.title %></td>
     <td><%= results.status %></td>
   </tr>
   <tr>
     <td colspan="3">Summary: <%= results.summary %></td>
   </tr>
 <% end %>
</table>
