<p id="notice"><%= notice %></p>

<div class="row">
  
  <h3>Reported generated for <%= @report.company.name %>.</h3>

  <p><%= link_to 'Back', :back %></p>
  
  <p><b>Current Status:</b> <%= @report.status %></p>

  <p>Initiated At: <%= @report.initiated_at %></p>

  <p>Initiated By: <%= @report.initiator.name %></p>

  <p>Started At: <%= @report.started_at %></p>

  <p>Completed At: <%= @report.completed_at %></p>

  <p>Monitored By: <%= @report.monitorer.name if @report.monitorer.present? %></p>

  <p>Test Summary: <%= @report.summary %></p>
  
  <% if current_user.is_admin? %>
    <p><%= link_to 'Let me edit the full report', edit_report_path(@report) %></p>
    <%= render partial: "admin_run_report" %>
  <% end %>
</div>

<hr>
<div class="row">
  <h3>Test Results</h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Test Case Id</th>
      <th>Test Case Title</th>
      <th>Test Results</th>
    </tr>
 
   <% @results.each do |result| %>
     <tr>
       <td><%= result.id %></td>
       <td><%= result.test_case.title %></td>
       <td><%= result.status %></td>
     </tr>
     <tr>
       <td colspan="3">Results Summary: 
       <% if result.summary.present? %>
         <%= result.summary %>
       <% else %>
         <i>No notes given.</i>
       <% end%>
       </td>
     </tr>
     <% if current_user.is_admin? && @report.status == "Running" %>
     <tr>
       <td colspan="3"><%= button_to 'Record Test Result', edit_test_result_path(result), method: :get, class: 'btn btn-success' %></td>
     </tr>
     <% end %>
   <% end %>
  </table>
</div>

<div class="row">
  <%= render partial: "complete_report" %>
</div>
