<% content_for :title do %>
Report for <%= @report.company.name %> - <%= @report.created_at %>
<% end %>

<%= link_to "< Back to Dashboard", dashboard_path %>

<h2>Report generated for <%= @report.company.name %></h2>
<h3><%= @report.created_at %></h3>

<hr/>

<p><b>Current Status:</b> <%= @report.status %></p>

<p>Initiated At: <%= @report.initiated_at %></p>

<p>Initiated By: <%= @report.initiator.name %></p>

<% if @report.started_at.present? %>
<p>Started At: <%= @report.started_at %></p>

<p>Completed At: <%= (@report.completed_at.present?) ? @report.completed_at : '--' %></p>

<p>Monitored By: <%= @report.monitorer.name if @report.monitorer.present? %></p>

	<% if @report.summary.present? %>
	<p>Test Summary: <%= simple_format(urlify(@report.summary)) %></p>
	<% end %>

<% end %>

<hr/>

<h3>Test Results</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Test</th>
    <th>Results</th>
  </tr>
	<% @results.order('id ASC').each do |result| %>
  <tr>
     <td><%= result.id %></td>
     <td><%= result.test_case.title %></td>
     <td><%= result.status %></td>
  </tr>
  <% if result.summary.present? %>
	<tr>
  	<td colspan="3">Results Summary: 
    	<%= simple_format(urlify(result.summary)) if result.summary.present? %>
   	</td>
  </tr>
  <% end %>
	<% end %>
</table>  
