<% content_for :title do %>
Report for <%= @report.company.name %> - <%= @report.created_at %>
<% end %>

<h2>Report generated for <%= @report.company.name %></h2>
<h3><%= @report.created_at.to_formatted_s(:long) %></h3>

<hr/>

<p><b>Current Status:</b> <%= @report.status %></p>

<p>Initiated At: <%= @report.initiated_at.to_formatted_s(:long) %></p>

<p>Initiated By: <%= (@report.initiated_by.present?) ? @report.initiator.name : "Scheduler" %></p>

<% if @report.started_at.present? %>
<p>Started At: <%= @report.started_at.to_formatted_s(:long) %></p>

<p>Completed At: <%= (@report.completed_at.present?) ? @report.completed_at.to_formatted_s(:long) : '--' %></p>

<p>Monitored By: <%= @report.monitorer.name if @report.monitorer.present? %></p>

	<% if @report.summary.present? %>
	<p>Test Summary: <%= htmlify(@report.summary) %></p>
	<% end %>

<% end %>

<hr/>

<h3>Test Results</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Test</th>
		<th>Completed In</th>
    <th>Results</th>
  </tr>
	<% @results.order('status ASC').each do |result| %>
	<tr class="<%= (result.status == "Passed") ? "success" : ((result.status == "Failure") ? "danger" : "") %>">
    <td><%= result.test_case.title %></td>
		<% if result.ended_at.present? %>
		<td><%= (result.ended_at - result.started_at).round(2) %> seconds</td>
		<% else %>
		<td>--</td>
		<% end %>
    <td><%= result.status %></td>
  </tr>
  <% if result.summary.present? %>
	<tr>
  	<td colspan="3">Results Summary: 
    	<%= htmlify(result.summary) %>
   	</td>
  </tr>
  <% end %>
	<% end %>
</table>  
