<div id="admin-nav-container" class="row" style="margin-bottom: 20px;">
  <ul class="nav nav-tabs">
    <li<%= raw(' class="active"') if request.fullpath == '/admin' %>><%= link_to 'Home', admin_root_path %></li>
    <li<%= raw(' class="active"') if params[:controller] == 'admin/companies' || ((params[:controller] == 'users') && (params[:action] != 'dashboard')) %>><%= link_to 'Companies', admin_companies_path %></li>
    <li<%= raw(' class="active"') if params[:controller] == 'admin/reports' %>><%= link_to 'Reports', admin_reports_path %></li>
  </ul>
</div>