	<header class="row">
		<% if current_user %>
    <div class="pull-right">
      <ul class="nav nav-pills">
				<% if current_user.is_admin? %>
				<li<%= raw(' class="active"') if request.fullpath[0..5] == '/admin' %>><%= link_to 'Admin', admin_root_path %></li>
				<li<%= raw(' class="active"') if request.fullpath[0..5] != '/admin' %>><%= link_to 'Dashboard', dashboard_path %></li>
				<% end %>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>
  	<% end %>
		
    <div class="logo">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo.png', alt: 'Outpost', style: 'height: 50px;' %>
      <% end %>
    </div>
	</header>
