	<header class="row" style="margin-top: -5px;">
		<% if current_user %>
    <div class="pull-right">
      <ul class="nav nav-pills">
				<% if current_user.is_admin? %>
				<li<%= raw(' class="active"') if request.fullpath[0..5] == '/admin' %>><%= link_to 'Admin', admin_root_path %></li>
				<% end %>
        <li<%= raw(' class="active"') if request.fullpath == '/dashboard' %>><%= link_to 'Dashboard', dashboard_path %></li>
        <li<%= raw(' class="active"') if request.fullpath == '/account' %>><%= link_to 'Account', account_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>
  	<% end %>
		
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png' %>
      <% end %>
    </div>
	</header>
