<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Outpost - Automated User Testing Made Easy</title>
    <!--<meta name="description" content="">
    <meta name="author" content="">-->
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="msapplication-TileImage" content="/mstile-144x144.png" />
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<%= javascript_include_tag "bootstrap-ie" %>
		<![endif]-->
		<link href="http://fonts.googleapis.com/css?family=Radley:400italic,400" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
		<!--<%= javascript_include_tag "/assets/jquery-1.10.2.min.js" %>-->
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
			<header class="row">
				<% if current_user %>
		    <div class="pull-right">
		      <ul class="nav nav-pills">
						<% if current_user.is_admin? %>
						<li<%= raw(' class="active"') if request.fullpath[0..5] == '/admin' %>><%= link_to 'Admin', admin_root_path %></li>
						<li<%= raw(' class="active"') if request.fullpath[0..5] != '/admin' %>><%= link_to 'Dashboard', dashboard_path %></li>
						<% end %>
		        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
		      </ul>
		    </div>
		  	<% end %>

		    <div class="logo">
		      <%= link_to root_path do %>
		        <%= image_tag 'logo.png', alt: 'Outpost' %>
		      <% end %>
		    </div>
			</header> 
      
      <%= yield %>
    
			<%= render 'layouts/footer' %>
		</div>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= render 'layouts/analytics' %>
	</body>
</html>